# ignore credentials and tokens
credentials.json
token.json
service_account.json

# ignore Python cache and logs
__pycache__/
*.pyc
*.log

# ignore Streamlit config and hidden files
.streamlit/
.env

